@{
    ViewData["Title"] = "Privacy Policy";
}
@model Chef


<div class="text-center">
    <h1 class="display-4">Add a Chef</h1>
    <div class="card-body">
        <form asp-action="CreateChef" asp-controller="Home" method="post">
            <div class="form-group mb-3">
                <label asp-for="FirstName" class="form-label">First Name of Chef</label>
                <input class=" form-control" asp-for="FirstName">
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="LastName" class="form-label">Last Name of Chef</label>
                <input class=" form-control" name="LastName">
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="DateOfBirth">Date of Birth Chef</label>
                <input asp-for="DateOfBirth" >
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
            
            <button class="btn btn-success w-100" type="submit"> Post Your Dish</button>
        </form>
    </div>

</div>