@{
    ViewData["Title"] = "Edit Wedding";
    int userId = (int)Context.Session.GetInt32("userId");
}

@model Wedding 

@await Html.PartialAsync("_Navbar")
<div class="text-center">
    <h1 class="display-4 mb-5 ">Edit your Wedding</h1>
    <div class="row">
        <div class="col-6">
            
            <div class="border border-rounded p-2 bg-light bg-gradient-10">

                <form asp-action="EditedWedding" asp-controller="Weddings" method="post">
                    <div class="form-group mb-3">
                        <label asp-for="WeddingOne" class="form-label"></label>
                        <input asp-for="WeddingOne" class="form-control">
                        <span class="text-danger" asp-validation-for="WeddingOne"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="WeddingTwo" class="form-label"></label>
                        <input asp-for="WeddingTwo" class="form-control">
                        <span class="text-danger" asp-validation-for="WeddingTwo"></span>
                    </div>

                        <input type="hidden" asp-for="@Model.WeddingId">
                    <div class="form-group mb-3">
                        <label asp-for="Date" class="form-label"></label>
                        <input asp-for="Date" class="form-control">
                        <span class="text-danger" asp-validation-for="Date"></span>
                    </div>

                    <div class="form-group mb-3">
                        <label asp-for="Adress" class="form-label"></label>
                        <input asp-for="Adress" class="form-control">
                        <span class="text-danger" asp-validation-for="Adress"></span>
                    </div>


                    <div class="mb-3">
                        <input type="submit" class="btn btn-outline-primary w-50" >
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
