@model Like

<form asp-action="Like" asp-asp-controller="Home" method="post">

    <input type="hidden" asp-for="@Model.UserId"  />
    <input type="hidden" asp-for="@Model.PostId"  />
    <input type="submit" value="ðŸ‘" class="btn btn-success" />

</form>