@model User

<div class="card mt-3 shadow">
    <h2 class="card-header">Register</h2>
    <div class="card-body">
        <form  asp-action="Register" asp-controller="Users" method="post"> 
            <div class="mb-3">
                <label asp-for="Username" class="form-label"></label>
            <input asp-for="Username" class="form-control">
            <span asp-validation-for="Username" class="form-text text-danger h4" ></span>
            </div>
            <div class="mb-3">
                <label asp-for="Email" class="form-label"></label>
            <input asp-for="Email" type="Email" class="form-control">
            <span asp-validation-for="Email" class="form-text text-danger h4"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Password" class="form-label"></label>
            <input asp-for="Password" type="Password" class="form-control">
            <span asp-validation-for="Password" class="form-text text-danger h4"></span>
            </div>
            <div class="mb-3">
                <label asp-for="ConfirmPassword" class="form-label"></label>
            <input asp-for="ConfirmPassword" type="Password" class="form-control">
            <span asp-validation-for="ConfirmPassword" class="form-text text-danger h4"></span>
            </div>
            <div>
                <input type="submit" value="Register" class="btn btn-dark btn-lg">
            </div>
        </form>
    </div>
</div>