<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
        I think you may be Lost brazegh 👻👹👽
    </h1>
    <h4>
        Try
    </h4>
    <ul>
        <a href="/dashboard">Dashborad</a>
        <a href="/first">First</a>
        <br>
        <a href="/second/John/4"></a>
    </ul>
</body>
</html>