@model Dojo


    <div class="card shadow p-3 mb-3" >
    <h4 class="card-head text-center">Submitted Info 📰📰</h4>
    <div class="card-body">
                
        <h3>@Model.Name</h3>
        <h3>@Model.Location</h3>
        <h3>@Model.FavLanguage</h3>
        <h3>@Model.Comment</h3>

    </div>
    </div>
