<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css">
    <title>Document</title>
</head>
<body>
        <h1>First View 🎃🎃🎃🎃</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At delectus, quod nesciunt dolorem laboriosam reprehenderit voluptatum temporibus dolorum neque.
            Facilis adipisci temporibus praesentium eius nulla perspiciatis ullam beatae officia quibusdam.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Officiis culpa sequi sed facere? Explicabo nisi nostrum similique porro sed molestiae maxime reiciendis libero blanditiis iste.
            Maxime tempore dolorem labore ab!
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint exercitationem eveniet voluptas cumque sapiente,
            commodi voluptatum aliquid numquam ea facilis tempora ipsam.
            Quo libero temporibus molestiae laudantium in placeat possimus.
            </p>
            <img src="~/images/crepuscule.jpeg" alt="Some Image To Show">
</body>
</html>