@{
    string[] Foods = {"Apple Pie", "Pizza", "Cinnamon Rolls", "Lasagna", "Donuts", "Chocolate Cake", "Burritos"};
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Here are some delicious food!</h1>
    <ul>
        @for(int i= 0; i< Foods.Length; i++)
        {
            @if(Char.ToString(Foods[i][0]) == "C") {
                <p style="color: red;">@Foods[i]</p>
            }else{
            <p>@Foods[i]</p>
            }
        }
    </ul>
</body>
</html>